{% extends "layout.html" %}

{% block content %}

<div class="text-center mt-20">

    <h1 class="text-4xl font-bold mb-10">Sistema Escolar</h1>

    <div class="space-x-4">
        <a href="{{ url_for('usuario') }}" 
           class="bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700">
            Alumnos
        </a>

        <a href="{{ url_for('maestros') }}" 
           class="bg-green-600 text-white px-6 py-3 rounded hover:bg-green-700">
            Maestros
        </a>

        <a href="{{ url_for('cursos') }}" 
           class="bg-purple-600 text-white px-6 py-3 rounded hover:bg-purple-700">
            Cursos
        </a>
    </div>

</div>

{% endblock %}