<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Escolar</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

    <!-- NAVBAR -->
    <nav class="bg-white shadow-md">
        <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
            
            <h1 class="text-xl font-bold">Sistema Escolar</h1>

            <div class="space-x-6">
                <a href="{{ url_for('index') }}" class="hover:text-blue-600">Inicio</a>
                <a href="{{ url_for('usuario') }}" class="hover:text-blue-600">Alumnos</a>
                <a href="{{ url_for('maestros') }}" class="hover:text-blue-600">Maestros</a>
                <a href="{{ url_for('cursos') }}" class="hover:text-blue-600">Cursos</a>
            </div>
        </div>
    </nav>

    <div class="max-w-6xl mx-auto mt-10">
        {% block content %}{% endblock %}
    </div>

</body>
</html>