{% extends "layout.html" %} {% block container %} {% import "_macros.html" as
macros %}

<div class="py-32 relative overflow-x-auto sm:rounded-lg">
  <form action="" method="POST" novalidate class="max-w-md mx-auto">
    <div class="relative z-0 w-full mb-5 group">
      {{macros.campoNuevo(form.matricula, class="block py-2.5 px-30 w-full
      text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:text-white dark:border-gray-600
      dark:focus:border-blue-500 focus:outline-none focus:ring-0
      focus:border-blue-600 peer")}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
      {{macros.campoNuevo(form.nombre, class="block py-2.5 px-30 w-full
      text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:text-white dark:border-gray-600
      dark:focus:border-blue-500 focus:outline-none focus:ring-0
      focus:border-blue-600 peer")}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
      {{macros.campoNuevo(form.apaterno,class="block py-2.5 px-0 w-full
      text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:text-white dark:border-gray-600
      dark:focus:border-blue-500 focus:outline-none focus:ring-0
      focus:border-blue-600 peer")}}
    </div>

    <div class="relative z-0 w-full mb-5 group">
      {{macros.campoNuevo(form.correo, class="block py-2.5 px-0 w-full text-sm
      text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:text-white dark:border-gray-600
      dark:focus:border-blue-500 focus:outline-none focus:ring-0
      focus:border-blue-600 peer")}}
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <input
        type="submit"
        id="btn1"
        name="btn1"
        value="Registrar"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      />
      <a href="index" class="bg-green-500 text-white px-4 py-2 rounded flex items-center gap-2 hover:bg-green-600">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        Cancelar
    </a>
    </div>
  </form>
</div>
{%endblock%}